body{
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    background-color: #e890389f;
}

h1{
    color: #9C6025;
}

h1#principal{
    background-color: #9C6025;
    color: white;
    text-align: center;
}

h2{
    color: #5C3916;
}

.basico{
    color: #165c1c;
}

.intermediario{
    color: #5c5216;
}

.avancado{
    color: #5c1616;
}
.destaque{
    background-color: rgba(59, 126, 59, 0.397);
}